<h1> Create a new team: </h1> 
<!-- t1n stands for team one name --> 
<form method="post" action="/teams">
Team 1 Name: <input type="text" name="t1n"> <br> 
Team 2 Name: <input type="text" name="t2n"> <br> 
Team 3 Name: <input type="text" name="t3n"> <br> 
Team 4 Name: <input type="text" name="t4n"> <br> 
Team 5 Name: <input type="text" name="t5n"> <br> 
Team 6 Name: <input type="text" name="t6n"> <br> 
Team 7 Name: <input type="text" name="t7n"> <br> 
Team 8 Name: <input type="text" name="t8n"> <br> 
Team 9 Name: <input type="text" name="t9n"> <br> 
Team 10 Name: <input type="text" name="t10n"> <br> 
<br> <br> <br> <input type="submit">

</form>