<!DOCTYPE html>
<html>
   <head>
      <title>HTML Backgorund Color</title>
   </head>
   <center>
   <body style="background-color:black;">
      <h1 style = "font-family: arial; font-size:30px; color: white" align="left">Trivia Scorer</h1> 
      <p style = "font-family: arial; font-size:20px; color: white" align="left"> <a class="button" href="/signup"> Sign Up </a> </p>
      <p style = "font-family: arial; font-size:20px; color: white" align="left"> <a class="button" href="/login"> Log In </a> </p>
      <p style = "font-family: arial; font-size:20px; color: white" align="left"> <a class="button" href="/logout"> Log Out </a> </p>
      <img src="https://assets.bigcartel.com/product_images/219441907/thor_WallArt_Micah_Ulrich_Poster_art.png?auto=format&fit=max&w=2000" alt="hello" align="right" height=730 width=465>

   </body>
   </center>
</html>