<!DOCTYPE html>
<html>
   <head>
      <title>HTML Backgorund Color</title>
   </head>
   <center>
   <body style="background-color:black;">
      <h1 style = "font-family: arial; font-size:30px; color: white" align="left">Trivia Scorer</h1>

      <p style = "font-family: arial; font-size:33px; color: white" align="left"> <a class="button" href="/teams/new"> Start </a> </p>
      <img src="https://assets.bigcartel.com/product_images/219441907/thor_WallArt_Micah_Ulrich_Poster_art.png?auto=format&fit=max&w=2000" alt="hello" align="top" height=690 width=465>

      <p style = "color: white" align="middle"> (Art by Micah Ulrich) </p> 
   </body>
   </center>
</html>