<% @array = current_user.teams.sort_by { |team| team.points } %>

<h1> Final Score </h1> 
<% @array.each do |team| %> 
    <b><%="#{team.name}"%></b> got <b><%="#{team.points}"%></b> points.<br>
<% end %> 

<br> <br> <br> <br> 
<a class="button" href='/'> Back to Home </a> 